* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 1150px;
    background-color: rgb(214, 213, 213);
}

.inner-div {
    width: 600px;
    height: 1000px;
    background-color: rgb(176, 170, 170);
    position: relative;
    left: 650px;
    top: 80px;
}

.bg-image img {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 170px;
    left: 100px;
}


.line-divs {
    display: flex;
    gap: 40px;

    margin-left: 70px;


    position: absolute;
    top: 730px;

}


.box1 {
    width: 320px;
    height: 400px;
    background-color: white;
}

.box2 {
    width: 320px;
    height: 400px;
    background-color: white;
}

.box3 {
    width: 320px;
    height: 400px;
    background-color: white;
}


.box1 span {
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(84, 83, 83);
    position: relative;
    top: 50px;
    padding-left: 45px;

}

.box1 p {
    position: relative;
    top: 70px;
    left: 45px;
    font-family: sans-serif;
    line-height: 30px;
    font-weight: bold;
    color: rgb(179, 172, 172);

}

.box1 .more {
    text-decoration: underline;
    text-transform: uppercase;
    color: rgb(179, 172, 172);
    position: relative;
    top: 90px;
    font-size: 20px;
    cursor: pointer;

}



.box2 span {
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(84, 83, 83);
    position: relative;
    top: 50px;
    padding-left: 45px;

}

.box2 p {
    position: relative;
    top: 70px;
    left: 45px;
    font-family: sans-serif;
    line-height: 30px;
    font-weight: bold;
    color: rgb(179, 172, 172);

}

.box2 .more {
    text-decoration: underline;
    text-transform: uppercase;
    color: rgb(179, 172, 172);
    position: relative;
    top: 90px;
    font-size: 20px;
    cursor: pointer;

}



.box3 span {
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(84, 83, 83);
    position: relative;
    top: 50px;
    padding-left: 45px;

}

.box3 p {
    position: relative;
    top: 70px;
    left: 45px;
    font-family: sans-serif;
    line-height: 30px;
    font-weight: bold;
    color: rgb(179, 172, 172);

}

.box3 .more {
    text-decoration: underline;
    text-transform: uppercase;
    color: rgb(179, 172, 172);
    position: relative;
    top: 90px;
    font-size: 20px;
    cursor: pointer;

}


.footer {
    width: 100%;
    height: 160px;
    background-color: rgb(39, 38, 38);
    position: relative;
    top: 150px;
}



.content {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: sans-serif;


}


.paragraph-2 {
    padding-top: 60px;
}

.paragraph-2 span {
    text-decoration: underline;
    cursor: pointer;
}



































@media only screen and (max-width:1203px) {

    .container {
        width: 100%;
        height: 1600px;
        background-color: rgb(214, 213, 213);
    }

    .inner-div {
        width: 800px;
        height: 950px;
        background-color: rgb(176, 170, 170);
        position: relative;
        left: 300px;
        top: 80px;

    }

    .bg-image img {
        width: 80%;
        height: 80%;
        position: absolute;
        top: 170px;
        left: 100px;



    }


    .line-divs {
        display: flex;
        gap: 40px;

        margin-left: 70px;
        position: absolute;
        top: 730px;


    }


    .box1 {
        width: 320px;
        height: 600px;
        background-color: white;

    }

    .box2 {
        width: 320px;
        height: 600px;
        background-color: white;

    }

    .box3 {
        width: 320px;
        height: 600px;
        background-color: white;

    }


    .box1 span {
        font-weight: bold;
        font-size: 30px;
        font-family: sans-serif;
        color: rgb(84, 83, 83);
        position: relative;
        top: 70px;
        padding-left: 45px;

    }

    .box1 p {
        position: relative;
        top: 110px;
        left: 45px;
        font-family: sans-serif;
        line-height: 30px;
        font-weight: bold;
        color: rgb(179, 172, 172);

    }

    .box1 .more {
        text-decoration: underline;
        text-transform: uppercase;
        color: rgb(179, 172, 172);
        position: relative;
        top: 130px;
        font-size: 20px;
        cursor: pointer;

    }



    .box2 span {
        font-weight: bold;
        font-size: 30px;
        font-family: sans-serif;
        color: rgb(84, 83, 83);
        position: relative;
        top: 70px;
        padding-left: 45px;

    }

    .box2 p {
        position: relative;
        top: 110px;
        left: 45px;
        font-family: sans-serif;
        line-height: 30px;
        font-weight: bold;
        color: rgb(179, 172, 172);

    }

    .box2 .more {
        text-decoration: underline;
        text-transform: uppercase;
        color: rgb(179, 172, 172);
        position: relative;
        top: 130px;
        font-size: 20px;
        cursor: pointer;

    }



    .box3 span {
        font-weight: bold;
        font-size: 30px;
        font-family: sans-serif;
        color: rgb(84, 83, 83);
        position: relative;
        top: 70px;
        padding-left: 45px;

    }

    .box3 p {
        position: relative;
        top: 110px;
        left: 45px;
        font-family: sans-serif;
        line-height: 30px;
        font-weight: bold;
        color: rgb(179, 172, 172);

    }

    .box3 .more {
        text-decoration: underline;
        text-transform: uppercase;
        color: rgb(179, 172, 172);
        position: relative;
        top: 130px;
        font-size: 20px;
        cursor: pointer;

    }


    .footer {
        width: 100%;
        height: 450px;
        background-color: rgb(39, 38, 38);
        position: relative;
        top: 450px;

    }



    .content {
        color: white;
        text-align: center;
        padding-top: 80px;
        font-size: 25px;
        font-family: sans-serif;

    }


    .paragraph-2 {
        padding-top: 100px;
    }

    .paragraph-2 span {
        text-decoration: underline;
        cursor: pointer;
    }



}











































@media only screen and (max-width:992px) {

    .container {
        width: 100%;
        height: 2000px;
        background-color: rgb(214, 213, 213);
    }

    .inner-div {
        width: 600px;
        height: 1700px;
        background-color: rgb(176, 170, 170);
        position: relative;
        left: 350px;
        top: 80px;

    }

    .bg-image img {
        width: 75%;
        height: 75%;
        position: absolute;
        top: 150px;
        left: 130px;




    }


    .line-divs {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;

        margin-left: 70px;
        position: absolute;
        top: 630px;



    }


    .box1 {
        width: 400px;
        height: 500px;
        background-color: white;


    }

    .box2 {
        width: 400px;
        height: 500px;
        background-color: white;


    }

    .box3 {
        width: 400px;
        height: 500px;
        background-color: white;


    }


    .box1 span {
        font-weight: bold;
        font-size: 30px;
        font-family: sans-serif;
        color: rgb(84, 83, 83);
        position: relative;
        top: 70px;
        padding-left: 45px;

    }

    .box1 p {
        position: relative;
        top: 110px;
        left: 45px;
        font-family: sans-serif;
        line-height: 30px;
        font-weight: bold;
        color: rgb(179, 172, 172);

    }

    .box1 .more {
        text-decoration: underline;
        text-transform: uppercase;
        color: rgb(179, 172, 172);
        position: relative;
        top: 130px;
        font-size: 20px;
        cursor: pointer;

    }



    .box2 span {
        font-weight: bold;
        font-size: 30px;
        font-family: sans-serif;
        color: rgb(84, 83, 83);
        position: relative;
        top: 70px;
        padding-left: 45px;

    }

    .box2 p {
        position: relative;
        top: 110px;
        left: 45px;
        font-family: sans-serif;
        line-height: 30px;
        font-weight: bold;
        color: rgb(179, 172, 172);

    }

    .box2 .more {
        text-decoration: underline;
        text-transform: uppercase;
        color: rgb(179, 172, 172);
        position: relative;
        top: 130px;
        font-size: 20px;
        cursor: pointer;

    }



    .box3 span {
        font-weight: bold;
        font-size: 30px;
        font-family: sans-serif;
        color: rgb(84, 83, 83);
        position: relative;
        top: 70px;
        padding-left: 45px;

    }

    .box3 p {
        position: relative;
        top: 110px;
        left: 45px;
        font-family: sans-serif;
        line-height: 30px;
        font-weight: bold;
        color: rgb(179, 172, 172);

    }

    .box3 .more {
        text-decoration: underline;
        text-transform: uppercase;
        color: rgb(179, 172, 172);
        position: relative;
        top: 130px;
        font-size: 20px;
        cursor: pointer;

    }


    .footer {
        width: 100%;
        height: 370px;
        background-color: rgb(39, 38, 38);
        position: relative;
        top: 150px;


    }



    .content {
        color: white;
        text-align: center;
        padding-top: 80px;
        font-size: 25px;
        font-family: sans-serif;

    }


    .paragraph-2 {
        padding-top: 100px;
    }

    .paragraph-2 span {
        text-decoration: underline;
        cursor: pointer;
    }



}
































@media only screen and (max-width:768px) {

    .container {
        width: 100%;
        height: 2250px;
        background-color: rgb(214, 213, 213);
    }

    .inner-div {
        width: 400px;
        height: 2120px;
        background-color: rgb(176, 170, 170);
        position: relative;
        left: 350px;
        top: 80px;


    }

    .bg-image img {
        width: 90%;
        height: 70%;
        position: absolute;
        top: 150px;
        left: 30px;

    }


    .line-divs {
        display: flex;
        gap: 40px;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 70px;
        position: absolute;
        top: 500px;




    }


    .box1 {
        width: 600px;
        height: 500px;
        background-color: white;



    }

    .box2 {
        width: 600px;
        height: 500px;
        background-color: white;



    }

    .box3 {
        width: 600px;
        height: 500px;
        background-color: white;



    }


    .box1 span {
        font-weight: bold;
        font-size: 30px;
        font-family: sans-serif;
        color: rgb(84, 83, 83);
        position: relative;
        top: 90px;
        padding-left: 45px;

    }

    .box1 p {
        position: relative;
        top: 120px;
        left: 45px;
        font-family: sans-serif;
        line-height: 30px;
        font-weight: bold;
        color: rgb(179, 172, 172);
        /* word-spacing: 10px; */
        text-align: justify;
        font-size: 25px;

    }

    .box1 .more {
        text-decoration: underline;
        text-transform: uppercase;
        color: rgb(179, 172, 172);
        position: relative;
        top: 140px;
        font-size: 20px;
        cursor: pointer;

    }



    .box2 span {
        font-weight: bold;
        font-size: 30px;
        font-family: sans-serif;
        color: rgb(84, 83, 83);
        position: relative;
        top: 90px;
        padding-left: 45px;

    }

    .box2 p {
        position: relative;
        top: 120px;
        left: 45px;
        font-family: sans-serif;
        line-height: 30px;
        font-weight: bold;
        text-align: justify;
        color: rgb(179, 172, 172);
        font-size: 25px;

    }

    .box2 .more {
        text-decoration: underline;
        text-transform: uppercase;
        color: rgb(179, 172, 172);
        position: relative;
        top: 140px;
        font-size: 20px;
        cursor: pointer;

    }



    .box3 span {
        font-weight: bold;
        font-size: 30px;
        font-family: sans-serif;
        color: rgb(84, 83, 83);
        position: relative;
        top: 90px;
        padding-left: 45px;

    }

    .box3 p {
        position: relative;
        top: 120px;
        left: 45px;
        font-family: sans-serif;
        line-height: 30px;
        font-weight: bold;
        color: rgb(179, 172, 172);
        text-align: justify;
        font-size: 25px;

    }

    .box3 .more {
        text-decoration: underline;
        text-transform: uppercase;
        color: rgb(179, 172, 172);
        position: relative;
        top: 140px;
        font-size: 20px;
        cursor: pointer;

    }


    .footer {
        width: 100%;
        height: 370px;
        background-color: rgb(39, 38, 38);
        position: relative;
        top: 90px;



    }



    .content {
        color: white;
        text-align: center;
        padding-top: 80px;
        font-size: 25px;
        font-family: sans-serif;

    }


    .paragraph-2 {
        padding-top: 100px;
    }

    .paragraph-2 span {
        text-decoration: underline;
        cursor: pointer;
    }



}
















































@media only screen and (max-width:576px) {


    .container {
        width: 100%;
        height: 2380px;
        background-color: rgb(214, 213, 213);

    }

    .inner-div {
        width: 300px;
        height: 2250px;
        background-color: rgb(176, 170, 170);
        position: relative;
        left: 200px;
        top: 80px;


    }

    .bg-image img {
        width: 65%;
        height: 40%;
        position: absolute;
        top: 150px;
        left: 100px;

    }


    .line-divs {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 100px;
        position: absolute;
        top: 390px;




    }


    .box1 {
        width: 373px;
        height: 600px;
        background-color: white;

    }

    .box2 {
        width: 373px;
        height: 600px;
        background-color: white;


    }

    .box3 {
        width: 373px;
        height: 600px;
        background-color: white;


    }


    .box1 span {
        font-weight: bold;
        font-size: 30px;
        font-family: sans-serif;
        color: rgb(84, 83, 83);
        position: relative;
        top: 70px;
        padding-left: 45px;

    }

    .box1 p {
        position: relative;
        top: 110px;
        left: 45px;
        font-family: sans-serif;
        line-height: 30px;
        font-weight: bold;
        color: rgb(179, 172, 172);
        font-size: 20px;

    }

    .box1 .more {
        text-decoration: underline;
        text-transform: uppercase;
        color: rgb(179, 172, 172);
        position: relative;
        top: 130px;
        font-size: 20px;
        cursor: pointer;

    }



    .box2 span {
        font-weight: bold;
        font-size: 30px;
        font-family: sans-serif;
        color: rgb(84, 83, 83);
        position: relative;
        top: 70px;
        padding-left: 45px;

    }

    .box2 p {
        position: relative;
        top: 110px;
        left: 45px;
        font-family: sans-serif;
        line-height: 30px;
        font-weight: bold;
        color: rgb(179, 172, 172);
        font-size: 20px;

    }

    .box2 .more {
        text-decoration: underline;
        text-transform: uppercase;
        color: rgb(179, 172, 172);
        position: relative;
        top: 130px;
        font-size: 20px;
        cursor: pointer;

    }



    .box3 span {
        font-weight: bold;
        font-size: 30px;
        font-family: sans-serif;
        color: rgb(84, 83, 83);
        position: relative;
        top: 70px;
        padding-left: 45px;

    }

    .box3 p {
        position: relative;
        top: 110px;
        left: 45px;
        font-family: sans-serif;
        line-height: 30px;
        font-weight: bold;
        color: rgb(179, 172, 172);
        font-size: 20px;

    }

    .box3 .more {
        text-decoration: underline;
        text-transform: uppercase;
        color: rgb(179, 172, 172);
        position: relative;
        top: 130px;
        font-size: 20px;
        cursor: pointer;

    }


    .footer {
        width: 100%;
        height: 400px;
        background-color: rgb(39, 38, 38);
        position: relative;
        top: 131px;


    }



    .content {
        color: white;
        text-align: center;
        padding-top: 80px;
        font-size: 18px;
        font-family: sans-serif;

    }


    .paragraph-2 {
        padding-top: 100px;
    }

    .paragraph-2 span {
        text-decoration: underline;
        cursor: pointer;
    }




}